@model IEnumerable<WebBanHangOnline.Models.EF.Category>

@if (Model != null && Model.Any())
{
    <ul style="display: inline; padding: 25px 0px;" class="nav navbar-pills">
        @foreach(var item in Model)
                {
                    <li class="nav-item  relative">
                        <a style="color:black;font-weight:600" title="Trang chủ" class="nav-link" href="/@item.Alias">@item.Title</a>
                    </li>
                }
        
    </ul>
}
