@charset "utf-8";
/************
7. 959px
************/

@media only screen and (max-width: 992px) {
    .slide-main {
        display: none;
    }
}
.carousel-inner img {
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.images-rights img{
    border-bottom-right-radius: 100px;
}