@model WebBanHangOnline.Models.ThongKeModel

@if (Model != null)
{
    <div class="small-box bg-info">
        <div class="inner">
            <h3> @ViewBag.visitors_online</h3>

            <p>Online Cá Nhân</p>
        </div>
        <div class="icon">
            <i class="fa fa-user"></i>
        </div>

    </div>
}
