@model WebBanHangOnline.Models.ThongKeModel

@if (Model != null)
{
  <div class="small-box bg-success">
      <div class="inner">
          <h3>@Model.TatCa</h3>

          <p>Tổng số người truy cập</p>
      </div>
      <div class="icon">
          <i class="ion ion-stats-bars"></i>
      </div>

  </div>
}
