@model WebBanHangOnline.Models.ThongKeModel

@if (Model != null)
{
   <div class="inner">
       <div style="display:flex;justify-content:space-around">
           <h3><i style="color:grey" class="fa fa-user"></i> @Model.HomNay</h3>
           <p style="border-left:1px solid black"></p>
           <h3><i style="color:coral" class="fa fa-user"></i> @Model.HomQua</h3>
       </div>
       <div style="display:flex;justify-content:space-around">
           <p style="color:white">Truy cập hôm nay</p>
           <p style="border-left:1px solid black"></p>
           <p style="color:white">Truy cập hôm qua</p>
       </div>

   </div>
}
